body{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* navbar */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    padding: 10px 0;
    z-index: 1000;
    display: flex;
}

.navbar div {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div a{
    text-decoration: none;
    color: #c8c6c6;
}
.nav_left a{
    padding-left: 30px;
}
.nav_right{
    display: flex;
}

/* home */
.gradient{
   
    background: url('pc7.png' ) no-repeat center center/cover;
}

#home {
    height: 100vh;
    background-image: linear-gradient(180deg,transparent,rgb(61, 60, 60,0.3));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 60px;
}

.home-content{
    display:flex ;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 15vh;
    margin-left: 6vw;
}

#home h1{
    color: #FEFEFE;
    font-size: 90px;
}
#home h2{
    color: #cac7c7;
}

.home-content button{
    margin-top: 30px;
    margin-left: 20px;
    background-color: transparent;
    border-radius: 15px;
    width: 130px;
}

.social-icons{
    margin-top: 28vh;
    margin-left: 6vw;
}
.social-icons a{
    margin-right: 35px;
}



/* about */

#about{
    height: 100vh;
    padding-top: 60px;
    padding: 100px 20px;
    background: url('hrjphoto.jpg') no-repeat center center/cover;

}

.about_right{
    color: white;
    margin-left: 70px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.about_right p{
    overflow:auto;
}

.gradient1{
    background-image: linear-gradient(180deg,transparent,rgba(0, 0, 0, 0.3));

}
/* skills */

#skills{
    height: 100vh;
    padding-top: 60px;
    padding: 100px 20px;
    /* background: url('') no-repeat center center/cover; */
    background-color: #000000;
    display: grid;
    text-align: center;
  
}

.progress {
    height: 20px;
    width: 20vw;
    margin-top: 30px;
    background-color: #5e5b5b;
}

.progress-bar {
    background-color: #a9eced;
    transition: width 0.5s ease-in-out;
}
.bars{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}
.ptext{
    color: rgb(185, 185, 185);
}
/* projects */

#project{
    height: 100vh;
    padding-top: 60px;
    padding: 100px 20px;
    background: url('pc4.jpg') no-repeat center center/cover;

}

/* contactme */

#contactme{
    height: 100vh;
    padding-top: 60px;
    padding: 100px 20px;
    background: url('pc4.jpg') no-repeat center center/cover;

}



/* responsive */

@media only screen and (max-width: 1250px){
   
}
@media only screen and (max-width: 1150px){
    .bars .row{
        display: inline;
    }
    .progress{
        width: 60vw;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 980px){
   
}
@media only screen and (max-width: 800px){
    .bars .row{
        display: flex;
        flex-direction: column;
    }
    .progress{
        width: 60vw;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 600px){
    .nav_right{
        display: none;
    }
    #about{
    background: url('hrjphoto1.jpg') no-repeat center center/cover;

    }

}
@media only screen and (max-width: 472px){
    
}